$color: (
    primary: #000000,
    secondary: #ffffff,

    border: #292929,

    gradient: linear-gradient(to top, #020202, #1a1a1a),
    button-text: #e6e6e6,
    button-brdr: #727272,
    button-bg: #1fdf64,
    button-bg-hover: #20c95b,
    input-bg: #121212,
);
